﻿@model IEnumerable<CoinMarketCapConsumer.Models.MarketCap>

@{
    Layout = null;
    WebGrid webGrid = new WebGrid(source: Model, canPage: true,rowsPerPage:100);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="60">
    <title>CryptoCurrency Market Capitazilations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="@Url.Content("~/Icons/favicon.ico")" />
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            width: 80%;
            top: 100px;
            left: 100px;
            overflow-y: scroll;
            overflow-x: scroll;
            border-collapse: collapse;
        }

            /*.main {
            width: 100%;
            left: 100px;
            top: 100px;
            position: relative;
            background: white;
            z-index: 5;
        }*/

            .Grid th {
                background-color: #F7F7F7;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            .Grid, .Grid table td {
                border: 0px solid #ccc;
            }

                .Grid th a, .Grid th a:visited {
                    color: #333;
                }

        /*body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .top {
            width: 100%;
            height: 100px;
            background: yellow;
            position: relative;
            z-index: 30;
        }*/

        /*.sidebarleft {
            width: 100px;
            height: 100%;
            background: red;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 7;
        }

        .sidebarright {
            width: 100px;
            height: 100%;
            background: red;
            right: 0;
            top: 0;
            position: absolute;
            z-index: 6;
        }*/



        /*.footer {
            width: 100%;
            height: 100px;
            background: purple;
            position: relative;
        }*/

        #header {
            background-color: lightblue;
            width: 100%;
            height: 50px;
            text-align: center;
        }

        #sidebar-left {
            float: left;
            width: 15%;
            background-color: red;
        }

        #main {
            float: left;
            width: 70%;
            background-color: white;
        }

        #sidebar-right {
            float: left;
            width: 15%;
            background-color: red;
        }

        #footer {
            clear: both;
            height: 50px;
            width: 100%;
            text-align: center;
            background-color: lightblue;
        }

        #sidebar-left, #main, #sidebar-right {
            min-height: 600px
        }
    </style>
</head>
<body>
    <div id="header">Header</div>
    <div id="sidebar-left">Left</div>
    <div id="main">
        <h2>Top 100 Cryptocurrencies by Market Capitalization</h2>
        @webGrid.GetHtml(
                               htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                               columns: webGrid.Columns(
                                           webGrid.Column("cmc_rank", "#", null, null, false),
                                           webGrid.Column("CurrencyIcon", header: "Symbol", format: @<text><img src="@item.icon" alt="@item.icon" width="16" height="16"></img></text>),
webGrid.Column("Name", "Name", null, null, false),
webGrid.Column("MarketCapValue", "Market Cap"),
webGrid.Column("Price", "Price"),
webGrid.Column("Total", "Total"),
webGrid.Column("PercentageGain", "% Gain")))

    </div>
    <div id="sidebar-right">Right</div>
    <div id="footer">Footer</div>


    @*<div class="top"></div>
    <div class="sidebarleft"></div>
    <div class="sidebarright"></div>
    <div class="main">
       

    </div>
    <div class="footer"></div>*@
</body>
</html>